body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #999999;
    font-size: 300;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #222222;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
}

.section-padding {
    padding: 60px 0px;
}

h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

hr.botm-line {
    height: 3px;
    width: 150px;
    background: #EA6045;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

hr.botm-line1 {
    height: 3px;
    width: 90px;
    background: rgb(234, 69, 171);
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

hr.botm-line2 {
    height: 3px;
    width: 200px;
    background: rgb(232, 227, 240);
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

hr.botm-line3 {
    height: 3px;
    background: rgb(255, 0, 119);
    border: 0;
}


/*  banner  */

.navbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28, 29, 28, 0.650);
}

.white,
.white:hover,
.white:focus {
    color: #fff;
    width: 100% !important;
}

.block {
    display: block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(125, 131, 125, 0.8);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(125, 131, 125, 0.80);
    /*rgba(12, 184, 182, 0.21);*/
}

.affix {
    background-color: #ffffff !important;
}

.affix .navbar-nav>li>a:hover,
.affix .navbar-nav>li>a:focus {
    background-color: rgb(28, 29, 28);
    /*rgb(12, 184, 182) !important;*/
}

.banner {
    background: url('../img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.bg-color {
    background-color: rgba(28, 29, 28, 0.295);
    /*RGBA(14, 70, 83, 0.78);*/
    min-height: 650px;
}

.banner-info {
    padding-top: 190px;
}

.banner-logo img {
    display: inline-block;
}

.banner-text {
    color: #fff;
}

.banner-text h1 {
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.btn-appoint,
.btn-appoint:hover,
.btn-appoint:focus {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(28, 29, 28, 0.938);
    border-radius: 3px;
    color: #fff;
}

.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}

.text-primary i {
    padding-top: 8px;
    display: inline-block;
}

.section-padding {
    padding: 60px 0px;
}


/*  social icons    */

.social-icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    padding: 11px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.social-icons:hover {
    color: #515769;
    background: #fff;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


/*  profile Image   */

.profile-image {
    position: relative;
    width: 190px;
    height: 190px;
    top: -10px;
    margin-left: -80px;
    left: 50%;
}


/*  education   */

.icon i {
    color: silver;
    font-size: 45px;
    margin-bottom: 25px;
}

.icon1 #graduation {
    color: #ff00c8;
    font-size: 45px;
    margin-bottom: 25px;
}

.icon2 #twelth {
    color: #49d79c;
    font-size: 45px;
    margin-bottom: 25px;
}

.icon3 #cert {
    color: goldenrod;
    font-size: 45px;
    margin-bottom: 25px;
}

.service-info {
    margin-bottom: 60px;
}

.service-skill {    
    margin-bottom: 110px;
}

.icon-info h4 {
    padding-bottom: 15px;
}

.icon-info p {
    font-size: 15px !important;
}


/*projects*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    max-width:100%;
  }
  
.card-grid {
    width:100%;
  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  .card-wrap {
    float:left;
    width:100%;
    padding:5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width:50%;
    }
  }
  @media (min-width: 720px) {
    .card-wrap {
      width:25%;
    }
  }
  
  
  .card {
    background-color:white;
    border-radius:5px;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
  }
  .card > div {
    padding:0 1em;
  }